.logo {
    margin: 40% 0 0;
    max-width: 50%;
}

.heading {
    font-size: 130%;
    margin: 6% 0 0;
}

.sub-heading {
    margin: 5% 0 6%;
}

.content {
    background: #fff url('../img/sifoo-stripe.png') top right no-repeat;
    background-size: contain;
}

#snapper {
    margin-bottom: 2%;
}

#snapMeNow {
    font-size: 250%;
    padding: 7% 10%;
}

#result {
    border: solid 1px #aaa;
    margin: 1%;
    padding: 2%;
}

#largeImage, #result {
    display: none;
}

#largeImage {
    height: auto;
    max-width: 100%;
}
